PORT=8000
FIREBASE_SERVICE_ACCOUNT=./serviceAccount/your-firebase-adminsdk.json
FIREBASE_STORAGE_BUCKET=your-project-id.firebasestorage.app
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=
MAIL_PASS=
APP_URL=http://localhost:5173
